<div class="container">
    <div class="row">
        <div class="col text-center mb-5 mt-5">
            <h4>DASHBOARD ANTRIAN</h4>
            <h1>PESERTA PENDAFTARAN ONLINE</h1>
            <br>
            <br>

          
            <center>
                <div class="row">

                    <div class="col-6">

                        <div class="card bg-primary text-white shadow">
                            <div class="card-body">
                                
                                <h1>ANTRIAN NOMOR</h1>
                                <h1 style="font-size: 150px;">6</h1>
                                <h3>Status: <b class="text-warning"><blink>Menunggu Antrian</blink></b></h3>
                            </div>
                        </div>

                    </div>

                    <div class="col-6">

                        <div class="card bg-warning shadow">
                            <div class="card-body">
                    
                                <h1>ANTRIAN NOMOR</h1>
                                <h1 style="font-size: 150px;">6</h1>
                                <h3>Status: <b class="text-danger"><blink>Sedang dilayani</blink></b></h3>
                            </div>
                        </div>

                    </div>

                </div>

            </center>
           

        </div>
    </div>
</div>

<style>
blink {
  -webkit-animation: 2s linear infinite kedip; /* for Safari 4.0 - 8.0 */
  animation: 2s linear infinite kedip;
}
/* for Safari 4.0 - 8.0 */
@-webkit-keyframes kedip { 
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes kedip {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
</style>