<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h1>Monitoring Antrian Poli</h1>

            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No. Antrian</th>
                        <th scope="col">Nomor RM</th>
                        <th scope="col">Nama Lengkap</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Mark</td>
                        <td>Otto</td>

                        <td>
                            <%= audio_tag("antrian1") %>
                            <button>panggil</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>