<div class="card">
                <div class="card-header text-center">
                    Masukan No Registrasi 
                    <% if notice.present? %>
                        [<b class="alert text-center alert-<%= alert %>"><i> <%= notice %></i></b>]
                    <% end %>
                </div>
                <div class="card-body">
                   
                    
                   <form id="search-form">
                        <input type="text" name="id_reg" id="id_reg">
                        <button type="submit" class="btn btn-primary">cari</button>
                    </form>



                </div>
            </div>